
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h3>
        <a href="@Url.Action("JiraSuiteSync", "Jira")">Sync Netsuite and Jira!</a>
    </h3>
</div>
</body>
</html>
